{% extends 'base.html'%}

{% block head %}
<title>Home Gardening System</title>
{% endblock %}


{% block body%}
<div class="content">
<!--

	<h1>Last synced time: </h1>
	<button>Force Sync</button>

	<h3>Water Level: <b>5/10</b></h3>
	<button>Water Plant</button>
	<h3>Last watered time: </h3>

	<h3>Soil moisture <b>5/10</b></h3>
	<h3>Surrounding Temperature: <b>2/10</b></h3>
	<h3>Humidity: <b>1/10</b></h3>
	<button>Activate DC motor</button>
-->
<!--
continuously monitoring soil moisture, activates watering when levels are low and adapts to environmental
conditions like temperature and humidity.
-->

	<form action="/" method="POST">
		<button type="submit">Force sync</button><br>
  		<input type="text" name="key" value="admin12345" placeholder="server key" required><br>
		<input type="text" name="WaterLevel" value="6" placeholder="Water Level" required><br>
		<input type="text" name="WaterLast" value="00:45" placeholder="Last watered" required><br>
		<input type="text" name="SoilMoist" value="1" placeholder="Soil moisture" required><br>
		<input type="text" name="SurroundTemp" value="2" placeholder="Surrounding Temperature" required><br>
		<input type="text" name="Humidity" value="3" placeholder="Humidity" required><br>
  		<button type="submit">Submit</button>
	</form>

	<table>
		<tr>
			<th>Category</th>
			<th>Value</th>
		</tr>
		{% for i in range(6) %}
			<tr>
				<td>{{tasks_name[i]}}</td>
				<td>{{tasks[i]}}</td>
			</tr>
		{% endfor %}
	</table>


</div>

{% endblock %}