{% extends 'base.html'%}

{% block head %}
<title>Home Gardening System</title>
{% endblock %}


{% block body%}
<div class="content">
	<h1>Water Plant</h1>


	<h1>Surrounding Temperature</h1>


	<h1>Humidity</h1>


	<h1>Trigger ultrasonic sensor</h1>


	{% if tasks | length < 1%}
	<h3>There are no tasks... Create one here!</h3>
	{% else %}
	<table>
		<tr>
			<th>Task</th>
			<th>Added</th>
			<th>Actions</th>
		</tr>
		{% for task in tasks %}
			<tr>
				<td>{{task.content}}</td>
				<td>{{task.created.strftime("%Y-%m-%d")}}</td>
				<td>
					<a href="/delete/{{task.id}}">Delete</a>
					<br/>
					<a href="/edit/{{task.id}}">Edit</a>
				</td>
			</tr>
		{% endfor %}
	</table>
	{% endif %}
	<form action="/" method="POST">
		<input type="text" name="content" id="content" />
		<input type="submit" value="Add Task" id="btn_add" />
	</form>
</div>

{% endblock %}